# compiled output
backend/dist
feed-ws/dist
seed-generator/dist
seed-generator/seed-data
dialog/dist

# dependencies
backend/node_modules
feed-ws/node_modules
seed-generator/node_modules
dialog/node_modules

# db volume
pgdata-yellow

# environment
.env

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*

# OS
backend/.DS_Store

# Tests
backend/coverage
backend/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
backend/!.vscode/settings.json
backend/!.vscode/tasks.json
backend/!.vscode/launch.json
backend/!.vscode/extensions.json